/* Have fun. This is your site. */

body {
  background-image: url("bg-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure body takes full viewport height */
  margin: 0; /* Remove default margin */
}

/* Main Container */
main {
  width: 100%;
  max-width: 60em;
  background: rgba(255, 255, 255, 0.2);
  padding: 3em;
  box-sizing: border-box;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  backdrop-filter: blur(10px); /* Blur effect for glass look */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
}

img {
  border-radius: 25%;
  width: 500px;
  height: 400px;
  border: 3px solid black;
}

.text {
  flex: 1;
}

a {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  background: transparent;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #000000; 
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}
